"""The server configuration."""

http_host = '0.0.0.0'  # Use the actual IP address, binding to 0.0.0.0 sucks!
http_port = 5047

udp_host  = '0.0.0.0'  # Use the actual IP address, binding to 0.0.0.0 sucks!
udp_port  = 5042

db_url    = 'postgresql://user:password@localhost/gate'
